.toufu-bg-box {
    position: relative;
}

.toufu-bg-img{
    height: 95vh;
}

/*
.toufu-bg-img::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: url('../img/hi.JPG') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

.font-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

.toufu-fixed-bg {
    position: relative;
    height: 75vh;
    background-attachment: fixed;
    z-index: 2;
}

.toufu-1st-bg {
    background-color: rgb(242, 229, 191);
}

.toufu-2nd-bg {
    background-color: rgb(167, 181, 242);
}

.toufu-3rd-bg {
    background-color: rgb(212, 242, 211);
}

.toufu-font-subtitle {
    font-size: x-small;
    margin-bottom: 0px;
}

.toufu-font-xl {
    font-size: x-large;
}

.font-bold {
    font-weight: bold;
}

.card-bottom-margin {
    margin-bottom: 2rem;
}

/* bootstrap5をいじります */
.card {
    border-radius: 1rem;
}

.card-img-top {
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-img-border {
    border-radius: 1rem;
}

/* ここまでbootstrap5いじりました */

/* カードの画像を暗く 
参考：https://codepen.io/cristinaconacel/pen/PyXpOK
*/
.toufu-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}